{% extends 'games/layout.html' %}
{% block content %}


<div >
    <h3 style="text-align:center;">Welcome to my Music Game!</h3>
</div>

<center>
    {% for x in listData %}
    <div>
        {{ x.nameMusic  }}
    </div>
   <div>
    <img src= '{{ x.img }}' alt="Italian Trulli" width="256px" height="256px">
   </div>
    <div>
        <audio controls autoplay >
            <source src='{{ x.preview_url }}' type="audio/ogg">
            <source src='{{ x.preview_url }}' type="audio/mpeg">
          Your browser does not support the audio element.
        </audio>
    </div>
    
    {%endfor %}
</center>


{% endblock %}